<p style="color: green"><%= notice %></p>

<p><%= render @article %></p>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

<p><%= link_to '<< Back', root_path %></p>
